.radio-container {
  margin: 1.5rem 0;

  @media(max-width: 960px) {
    margin: 0.8rem 0;;
  }
}

.block-header {
  text-align: center;

  @media(max-width: 960px) {
    text-align: inherit;
  }
}

.block-container {
  margin-top: 4rem;

  @media(max-width: 960px){
    margin-top: 1.8rem;
  }
}
