<h3>BLOK PIERWSZY</h3>
<form>
  <div>
    <input
      type="radio"
      value="option1"
      name="option"
      (change)="onRadioChange($event)"
    /><label for="">Opcja pierwsza</label>
  </div>
  <div>
    <input
      type="radio"
      value="option2"
      name="option"
      (change)="onRadioChange($event)"
    /><label for="">Opcja druga</label>
  </div>
  <div>
    <input
      type="radio"
      value="option3"
      name="option"
      (change)="onRadioChange($event)"
    /><label for="">Opcja losowa</label>
  </div>
</form>
