:host{
    padding-left: var(--distance);
}
h3{
    align-self: center;
	margin-bottom: var(--distance);
	margin-top: 0;
}
form{
    
    display: flex;
    flex-direction: column;
}
.radio-button{
	display:flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row-reverse;
	margin: 13px;
	cursor: pointer;
}
.radio-button input{
	display:none;
	width: 0;
	height: 0;
}
.radio-button span{
	width: 2rem;
	height: 2rem;
	position: relative;
	margin-right: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #bdbdbd00;
    border: 4px solid white;
}
.radio-button input:checked + span:after{
	content: "";
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background-color: #ffffff;
}
.radio-button input:checked + span {
	background-color: #76b17600;
}
.radio-button input:disabled + span {
	background-color: #e5e5e5;
}
.radio-button span:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 50%;
	background-color: #ffffff;
}
.radio-button input:checked + span:before {
	animation: growAndFade 0.2s ease-out;
} 
@keyframes growAndFade {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: 0.5;
		transform: scale(1.5);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}