:root{
    --light-grey: rgb(42,45,54);
    --dark-grey: rgb(11,12,16);
    --footer-grey: rgb(21,22,26);
    --html-grey: rgb(48,48,48);
    --my-orange: rgb(232,131,1);
    --distance: calc(clamp(1.375rem, 2.879vw + 0.295rem, 3.75rem));

}

body{
    background-color: var(--light-grey);
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}
a{
    text-decoration: none;
}