.edit-wrapper {
  padding: 0 4rem;
  margin-top: 5rem;
  

  @media(max-width:960px) {
    padding: 0 1.5rem;
    margin-top: 3rem;
  }

  .block-header{
    text-align: center;
  }

  .final-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
  .content-list {
    width: 100%;
    min-height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 4rem;

    @media(max-width:960px){
      flex-direction: column;
      margin-top: 1.8rem;
    }

    .content-buttons{
      display: flex;
      flex-direction: column;
    }

    .content-editor{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-width: 0;
    }

    .content-description{
      flex-grow: 1;
    }

    .content-element {
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      border: 1px solid var(--button-border);
      padding: 5px;
      margin: 5px;

      label {
        width: min-content;
      }

      input,
      textarea {
        border: none;
        background-color: transparent;
        font-size: 1.4rem;
        text-align: start;
        color: rgb(139, 143, 155);
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
      }

      textarea {
        box-sizing: border-box;
        resize: none;
        flex-grow: 1;

        @media(max-width:960px){
          font-size: 1rem;
          min-height: 14rem;
        }
      }
    }
  }
}
