h3{
    align-self: center;
    text-align: center;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: calc(100% - 3rem);
    margin-top: 0;
    margin-bottom: var(--distance);
}
.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    p {
        text-align: center;
        color: rgb(139, 143, 155);
        margin: var(--distance);
        margin-top: 0;
    }
}