:root{
--breakpoint-ss: 576px;
--breakpoint-ms: 650px;
--breakpoint-ls: 992px;
--breakpoint-xls: 1250px;

}

@media (max-width: 650px) {
  .content-list {
    flex-direction: column !important;
  }
  .content-editor {
    padding-left: 0 !important;
    padding-top: var(--distance);
  }
  .content-buttons {
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  textarea {
    min-height: 250px;
  }
  .cb {
    flex-grow: 1;
    width: auto !important;
    min-width: 300px !important;
  }
  .final-buttons {
    display: flex ;
    align-items: center;
    justify-content: center;
  }
  #show-menu {
    width: 8rem !important;
  }
  .buttons{
    flex-direction: column !important ;
    gap: 1.25em ;
    
}
}

@media (max-width: 1250px) {
 
  
  .main-child {
    min-width: 33.33% !important ;
    max-width: 100% !important ;
  }
 
}
