/* sliding menu rules */
footer:has(> #show-menu:hover, #show-menu:focus) + #menu {
  bottom: 140px;
}

footer:has(~ #menu:hover) > #show-menu i {
  transform: rotate(180deg);
}

footer:has(~ #menu button:focus) > #show-menu i {
  transform: rotate(180deg);
}

footer:has(>#show-menu:after:hover) + #menu {
  bottom: 140px;
}

#menu {
  margin-right: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  width: 16.875rem;
  height: 5.625rem;
  z-index: 0;
  transition: all 0.5s linear;
  -webkit-box-shadow: 8px 8px 24px 14px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 24px 14px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 24px 14px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  &:hover {
    bottom: 140px;
  }
  &:has(> button:focus) {
    bottom: 140px;
  }

  @media(max-width:960px){
    margin-right: 1.5rem;
  }
  button {
    font-size: 1rem;
    background-color: white;
    font-weight: 700;
    font-family: "Open Sans", "sans serif";
    color: black;
    padding: 0;
    margin: 0;
    border: none;
    height: 40%;
    width: 100%;
    text-align: start;
    padding-left: 25px;
    &:active,
    &:hover {
      color: var(--my-orange);
      cursor: pointer;
      outline: none;
    }
  }
}
