:root{
--light-grey: rgb(42, 45, 54);
--dark-grey: rgb(11, 12, 16);
--footer-grey: rgb(21, 22, 26);
--html-grey: rgb(48, 48, 48);
--my-orange: rgb(232, 131, 1);
--button-grey: rgb(163, 169,185);
--button-border: #FCFFFF;
}
