<div class="wrapper">
  <header>
    <div class="logo"><i class="fa-brands fa-html5"></i></div>
    <div class="header-text">
      <h2>Zadanie <span>rekrutacyjne</span></h2>
      <h2>Daniel Redzyński</h2>
    </div>
  </header>

  <section class="title">
    <h1>Nagłówek H1</h1>
    <hr />
  </section>
  <section class="main">
    <app-radios (radio)="receiveRadio($event)"></app-radios>
    <app-switches (switch)="receiveSwitch($event)"></app-switches>
    <app-output></app-output>
  </section>

  <footer></footer>
</div>
