
  header {
    position: sticky;
    background-color: var(--dark-grey);
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;

    @media(max-width: 960px){
      height: 100px;
    }
  }

  .logo {
    margin-left: 4rem;
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--html-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s linear;
    i {
      font-size: 4.2rem;

      @media(max-width: 960px){
        font-size: 3rem;

      }
    }

    &:hover {
      background-color: var(--my-orange);
    }

    @media(max-width: 960px){
      height: 70px;
      margin-left: 1.5rem;
    }
  }

  .header-text {
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.25s linear;

    @media(max-width: 960px){
      margin-right: 1.5rem;
    }

    .app-title{
      font-size: 2rem;
      background-color: var(--dark-grey);
      z-index: 2;
      transition: all 0.25s linear;
      transform: translateY(50%);

      @media(max-width: 960px){
        font-size: 1.1rem;

      }


      &:nth-child(2) {
        font-size: 1.8rem;
        position: relative;
        display: block;
        z-index: 1;
        transform: translateY(-60%);

        @media(max-width: 960px){
          font-size: 1rem;
        }
      }
    }
  }

  #goEdit {
    height: 2.4125rem;
    width: 100px;
    position: absolute;
    margin-left: 4rem;
    bottom: -2.4125rem;
    border: none;
    border-radius: 0px 0px 20px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Open Sans", "sans serif";
    background-color: var(--my-orange);
    cursor: pointer;
    color: white;
    border-top: none;

    @media(max-width: 960px){
      margin-left: 1.5rem;
    }

  }

@media (max-width: 650px) {
  .nabthat {
    hr {
      display: none;
    }
  }
}

.wrapper {
position: relative;
min-height: calc(100vh - 140px);
padding-bottom: 140px;
}

footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 140px;
  border-top: 1px solid black;
  background-color: var(--footer-grey);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  overflow: hidden;

  .nabthat {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--light-grey);
    font-size: 2rem;
    gap: 5px;

    @media(max-width:960px){
      display: none;
    }
  }
  hr {
    width: 3.4rem;
    border: 1px solid var(--light-grey);
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  transition: margin-top 1s ease-in-out;

  @media(max-width:960px){
    padding-top: 3rem;
  }
  h1{
    position: relative;
    &::after{
      position: absolute;
      content: '';
      height: 1px;
      width: 70%;
      left:50%;
      transform: translate(-50%);
      bottom:-1rem;
      background-color: white;

    }
  }
  

}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4rem;
  margin: 5rem 0;
  gap: 3rem;


  .section-item {
    flex: 1;
  }

  @media(max-width: 960px) {
    padding: 0 1.5rem;
    margin-top: 3rem;
    gap: 1.5rem;

    .block-3 {
      flex-basis: 100%;
    }
  }
}


.edit {
  left: 0;
  width: 100%;
  display: none;
}

.edit-visible {
  display: block;
}

.show-personal-data{
transform: translateY(0) !important;
}

#show-menu {
  position: relative;
  margin-right: 5rem;

  i{
    transition: all 0.2s linear;
  }

  @media(max-width: 960px) {
    margin-right: 1.5rem;
  }
&:hover,
&:focus{
  background-color: transparent;
  background-image: none;
}
&:hover > i {
  transform: rotate(180deg);
}
&:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  cursor: auto;
}
}
