.wrapper {
  min-height: calc(100vh - 140px);
  position: relative;
  padding-bottom: 140px;
}



  header {
    position: sticky;
    background-color: var(--dark-grey);
    height: 140px;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    h2 {
      text-align: end;
      text-wrap: nowrap;
    }
  }

  a:focus > .logo {
    background-color: var(--my-orange);
  }

  .logo {
    margin-left: var(--distance);
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: var(--html-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s linear;
    i {
      font-size: 70px;
    }

    &:hover {
      background-color: var(--my-orange);
    }
  }

  .header-text {
    margin-right: var(--distance);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.25s linear;
    h2 {
      font-size: 2rem;
      font-weight: 100;
      margin: 0;
      padding: 0;
      background-color: var(--dark-grey);
      z-index: 2;
      transition: all 0.25s linear;
      transform: translateY(50%);

      span {
        font-weight: 600;
      }
      &:nth-child(2) {
        position: relative;
        display: block;

        font-size: 2rem;
        z-index: 1;
        transform: translateY(-50%);
      }
    }
  }
  #goEdit {
    height: 2.4125rem;
    width: 100px;
    position: absolute;
    margin-left: var(--distance);
    bottom: -2.4125rem;
    border: none;
    border-radius: 0px 0px 20px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Open Sans", "sans serif";
    background-color: var(--my-orange);
    cursor: pointer;
    color: white;
    border-top: none;
    &:hover,
    &:focus {
      outline: none;
    }
  }

@media (max-width: 650px) {
  .nabthat {
    hr {
      display: none;
    }
  }
}
footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 140px;
  border-top: 1px solid black;
  background-color: var(--footer-grey);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .nabthat {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--light-grey);
    font-size: 2rem;
    gap: 5px;
  }
  hr {
    width: 3.4rem;
    border: 1px solid var(--light-grey);
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(var(--distance) + 10px);
  transition: margin-top 1s ease-in-out;

  hr {
    width: 233px;
    margin: 17px 0px 0px 0px;
  }
  h1 {
    font-weight: 300;
    font-size: 3rem;
    text-shadow: 2px 1px 2px rgba(18, 18, 18, 1);
    margin: 0;
    padding: 0;
  }
}
.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: var(--distance);
}


/*  */
.show-personal-data{
transform: translateY(0) !important;
}
