.buttons, h3 {
    align-self: center;
}
h3{
    margin-bottom: var(--distance);
    margin-top: 0;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:2.5em;
    
    
    .button{
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        color: white;
        height: 3.125rem;
        width: 11.25rem;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid white;
        padding: 0;
        margin: 0;
        &:focus,
        &:hover{
            background-color: rgba(232, 131, 1, 1);
            background-image: linear-gradient(270deg, rgba(232, 131, 1, 1) 18%, rgba(146, 89, 18, 1) 100%);
            transition: all 0.25s linear;
            outline: none;
            
        }
    }
}
span{
    display: block;
    padding: 25px 80px;
  }
  @media (max-width: 1250px) {
    .buttons{
        flex-direction: column;
        gap: 1.25em
    }
  }