
h3{
    margin-bottom: var(--distance);
    margin-top: 0;
    align-self: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:2.5em;
    align-self: center;
  
}
span{
    display: block;
    padding: 25px 80px;
  }
